<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<h2>Информация</h2>
<form th:method="post" th:action="@{/static}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <p>
        <label for="name">Введите имя: </label>
        <input type="text" th:field="${user.name}" id="name"/>
    </p>
    <p>
        <label for="lastName">Введите фамилию: </label>
        <input type="text" th:field="${user.lastName}" id="lastName"/>
    </p>
    <p>
        <label for="email">Введите email: </label>
        <input type="text" th:field="${user.email}" id="email"/>
    </p>
    <p>
        <label for="username">Введите username: </label>
        <input type="text" th:field="${user.username}" id="username"/>
    </p>
    <p>
        <label for="password">Введите password: </label>
        <input type="text" th:field="${user.password}" id="password"/>
    </p>
    <br>
    <input type="submit" value="Тык"/>
</form>
<a href="/admin">Показать список</a>
</body>
</html>